{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1" style="background-color: #2FACAE; padding: 20px; border-radius: 10px">
    <div class="row mb-3">
        <div class="logo-container">
            <img
                    src="{% static 'logo.png' %}"
                    alt="Hi Platform"
                    width="150"
            >
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-1 align-self-center text-center">
                <h4>Atenção!</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h4>Você <strong>já está logado!</strong></h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <p>Para retornar ao início: <a href="{% url 'users:index' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h5>Digite sua nova senha:</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2">
                <form action="" method="POST">
                    {% csrf_token %}
                        <div class="mb-2">
                            <label for="inputChangePassword" class="form-label fw-medium text-white">Senha</label>
                            <input
                                    type="password"
                                    name="changepassword"
                                    class="form-control rounded-3"
                                    id="inputChangePassword"
                                    placeholder="Informe sua nova senha"
                                    required
                            >
                        </div>
                        <div class="mb-2">
                            <label for="inputChangePasswordConfirm" class="form-label fw-medium text-white">Confirmar Senha</label>
                            <input
                                    type="password"
                                    name="changepasswordconfirm"
                                    class="form-control rounded-3"
                                    id="inputChangePasswordConfirm"
                                    placeholder="Confirme sua nova senha"
                                    required
                            >
                        </div>
                        <div class="row justify-content-center">
                            <div class="row md-6 mb-4 justify-content-center">
                                <button type="submit" class="btn btn-secondary" style="width: 350px">Cadastrar</button>
                            </div>
                        </div>
                </form>
                <div class="row justify-content-center">
                    <div class="col md-6 mb-0 align-self-center text-center">
                        <a href="{% url 'users:login' %}">Início</a>
                    </div>
                </div>
                {% if password_errors %}
                    <script>
                        alert("{{ password_errors.unequal_password }}");
                    </script>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}