{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1" style="background-color: #2FACAE; padding: 20px; border-radius: 10px">
    <div class="row mb-3">
        <div class="logo-container">
            <img
                    src="{% static 'logo.png' %}"
                    alt="Hi Platform"
                    width="150"
            >
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-1 align-self-center text-center">
                <h4>Atenção!</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h4>Você <strong>já está logado!</strong></h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <p>Para retornar ao início: <a href="{% url 'users:index' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2">
                <div class="row justify-content-center">
                    <div class="col md-6 mb-0 align-self-center text-center">
                        <h4>Senha alterada com sucesso!</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col md-6 mb-0 align-self-center text-center">
                        <p class="fw-medium mt-3">Clique no botão abaixo para iniciar:</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col md-6 mb-0 align-self-center text-center">
                        <a href="{% url 'users:login' %}" class="btn btn-secondary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}