{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid" style="background: linear-gradient(to bottom, #00ffff 0%, #660033 100%)">
    <div class="container" style="width: 85%; padding-bottom: 20px">
        <div class="container-fluid sticky-top">
            <div class="row custom-right-align align-items-center">
                <div class="col mt-2">
                    <a class="btn btn-secondary" href="{% url 'users:index' %}">Início</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col mt-4 mb-2 align-self-center text-center">
                <h2>API Replace Text</h2>
            </div>
        </div>
        <div class="container rounded mt-5 mb-4" style="width: 50%; background: linear-gradient(to bottom, #6699ff 0%, #ccccff 100%)">
            <div class="row justify-content-center">
                <form action="" method="POST" style="width: 80%">
                    {% csrf_token %}
                    <div class="mt-4 mb-2">
                        <label for="texto" class="form-label fw-medium">Texto</label>
                        <textarea class="form-control rounded-3" id="texto" name="texto" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="item_para_substituir" class="form-label fw-medium">Item para substituir</label>
                        <input
                                type="text"
                                name="item_para_substituir"
                                class="form-control rounded-3"
                                id="item_para_substituir"
                                placeholder="Digite o valor do texto a ser substituído"
                                required
                        >
                    </div>
                    <div class="mb-3">
                        <label for="item_substituto" class="form-label fw-medium">Item substituto</label>
                        <input
                                type="text"
                                name="item_substituto"
                                class="form-control rounded-3"
                                id="item_substituto"
                                placeholder="Digite o valor que substituirá o texto atual"
                                required
                        >
                    </div>
                    <div class="mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="modo" data-bs-toggle="dropdown" aria-expanded="false" name="modo">
                                Selecione o modo
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                                <li>
                                    <a class="dropdown-item" href="#" data-value="completo">Completo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" data-value="parcial">Parcial</a>
                                </li>
                            </ul>
                            <input type="hidden" name="modo" id="modo-hidden" value="completo">
                        </div>
                    </div>
                    <div class="mb-3" id="inputNumDiv" style="display: none">
                        <label for="CasoParcialQuantidade" class="form-label fw-medium">Quantidade</label>
                        <input
                                type="number"
                                name="CasoParcialQuantidade"
                                class="form-control rounded-3"
                                id="CasoParcialQuantidade"
                        >
                    </div>
                    <script>
                        const modoDropdown = document.querySelector('#modo');
                        const inputNumDiv = document.querySelector('#inputNumDiv');
                        const numeroInput = document.querySelector('#CasoParcialQuantidade');

                        modoDropdown.addEventListener('click', () => {
                            inputNumDiv.style.display = modoDropdown.innerText === 'Parcial' ? 'block' : 'none';
                            numeroInput.value = modoDropdown.innerText === 'Completo' ? 0 : '0';
                        });

                        document.querySelectorAll('.dropdown-item').forEach(item => {
                            item.addEventListener('click', (event) => {
                                event.preventDefault();
                                const selectedValue = event.target.getAttribute('data-value');
                                document.getElementById('modo-hidden').value = selectedValue;
                                modoDropdown.innerText = event.target.innerText;
                            });
                        });
                    </script>
                    <div class="row justify-content-center">
                        <div class="row md-6 mb-4 justify-content-center">
                            <button type="submit" class="btn btn-secondary" style="width: 100%">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container rounded mt-5 mb-4" style="width: 50%; background: linear-gradient(to bottom, #6699ff 0%, #ccccff 100%)">
            <div class="row justify-content-center text-center mt-2 mb-2">
                    <h3>Resultado:</h3>
                    <p class="fw-medium">{{ resultado }}</p>
            </div>
        </div>
        <div class="container rounded mt-4 mb-4" style="width: 50%; background: linear-gradient(to bottom, #6699ff 0%, #ccccff 100%)">
            <div class="row justify-content-center text-center mt-2 mb-2">
                <div class="row mt-4 mb-2">
                    <h4>Copie abaixo a cURL desta API:</h4>
                </div>
                <div class="row mb-2">
                    <p class="fw-medium">Modo "Completo":</p>
                    <code id="curlCode1">
                        curl -X POST -H "Content-Type: application/json" -d '{"texto": "Just some random text for tests.", "item_para_substituir": "o", "item_substituto": "a", "CasoParcialQuantidade": 0, "modo": "completo"}' https://api-replace-text.onrender.com/api/replace_text
                    </code>
                </div>
                <div class="row justify-content-center mb-4">
                    <button class="btn btn-secondary" onclick="copiarCurl('curlCode1')" style="width: 50%">Copiar cURL</button>
                </div>

                <div class="row mb-2">
                    <p class="fw-medium">Modo "Parcial":</p>
                    <code id="curlCode2">
                        curl -X POST -H "Content-Type: application/json" -d '{"texto": "Just some random text for tests.", "item_para_substituir": "o", "item_substituto": "a", "CasoParcialQuantidade": 2, "modo": "parcial"}' https://api-replace-text.onrender.com/api/replace_text
                    </code>
                </div>
                <div class="row justify-content-center mb-4">
                    <button class="btn btn-secondary" onclick="copiarCurl('curlCode2')" style="width: 50%">Copiar cURL</button>
                </div>
                <script>
                    function copiarCurl(id) {
                        var curlCode = document.getElementById(id);
                        var textoCurl = curlCode.innerText;

                        navigator.clipboard.writeText(textoCurl).then(function() {
                            alert('cURL copiada com sucesso!');
                        }, function() {
                            alert('Erro ao copiar a cURL.');
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid bg-dark">
        <div class="row text-white text-center">
            <div class="col mt-3">
                <p>Endereço: Rua Alwin Beckmann, 127, Blumenau, Brasil</p>
                <p>Contato: lucasreinert96@gmail.com | Telefone: +55 (47) 99975-1383</p>
                <p>&copy; 2023 Portfolio. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}