{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1" style="background-color: #D0EEEE; padding: 20px; border-radius: 10px">
    <div class="row mb-3">
        <div class="logo-container">
            <img
                    src="{% static 'logo.png' %}"
                    alt="Portfolio"
                    width="150"
            >
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-1 align-self-center text-center">
                <h4>Atenção!</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h4>Você <strong>já está logado!</strong></h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <p>Para retornar ao início: <a href="{% url 'users:index' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% else %}
        {% if form.errors %}
            <div class="row justify-content-center">
                <div class="col-md-5 mb-2">
                    <script>
                        alert("O e-mail ou senha estão incorretos! Tente novamente.");
                    </script>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label fw-medium">E-mail</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-medium">Senha</label>
                        {{ form.password }}
                    </div>
                    <div class="row justify-content-center">
                        <div class="row md-6 mb-2 justify-content-center">
                            <button type="submit" class="btn btn-secondary text-white" style="width: 350px">Login</button>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center">
                    <div class="row md-6 mb-2 justify-content-center">
                        <a href="{% url 'register:new' %}" class="btn btn-secondary text-white" style="width: 350px">Cadastre-se</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row md-6 mb-2 align-self-center text-center">
                        <p class="mt-3">Esqueceu sua senha? <a href="{% url 'register:validate_email' %}">Clique aqui!</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}