{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container rounded" style="width: 60%; background: linear-gradient(to bottom, #00ffff 0%, #660033 100%); padding-bottom: 20px">
  <div class="row justify-content-center">
      <div class="col-md-5 mb-1 align-self-center text-center">
          <h4>Mensagem enviada com sucesso!</h4>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-md-5 mb-2 align-self-center text-center">
          <p>Clique aqui para retornar ao início: <a href="{% url 'users:index' %}">Início</a></p>
      </div>
  </div>
</div>
{% endblock %}